@font-face {
  font-family: 'rs';
  src:url('runescape_uf.woff') format('woff');
}
html {
  font-family: 'rs';
  font-size:1.5rem;
  color: rgb(228, 228, 8);
  background-color: rgb(49, 49, 49);
}

button {
  background-color: rgb(28, 10, 185);
  color: rgb(228, 228, 8);
}

.navWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  margin: 2rem 0;
  background-color: rgb(8, 37, 99);
}

.navLinks {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  border-radius: 6px;
}

.navLinks.active,
.navLinks:focus,
.navLinks:hover {
  color: darkgray;
  background-color: rgba(3, 4, 78, 0.74);
}

.navBar {
  height: 3rem;
  background-color: darkgrey;

}

.navBar .loginContainer {
  float: right;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
  outline: solid;
}

.grid-item {
  width: 300px;
  height: 75px;  
  overflow: hidden;
  outline: solid;
  box-sizing: border-box;
  padding: 10px;
}

h1 {
  font-weight: normal;
  font-size :xx-large
}

h2 {
  font-weight: normal;
  font-size :x-large
}

.grid2 {
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
  outline: solid;
}

.grid2-item {
  width: 300px;
  height: 300px;  
  overflow: hidden;
  outline: solid;
  box-sizing: border-box;
  padding: 10px;
  text-align:center
}

.grid2-item-complete {
  width: 300px;
  height: 300px;  
  overflow: hidden;
  outline: solid;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(3, 114, 31);
  text-align:center
}

a:visited { 
  color: white; 
 }

a { 
  color: rgb(0, 255, 136); 
 }